#card {
    background-color: rgb(253, 255, 228);
    border: 10px solid rgba(20, 1, 1, 0.693);

    width: 500px;

    /* Colocando PADDING: 50px é aplicado 50px de PADDING em tpdas as dieções */
padding-left: 50px;
padding-top: 20;
padding-top: 20px;

}

#foto{
    width: 400px;
}

p {
    width: 400px;
}

h2 {
    width: 400px;
}